// Add your styles here
body {
  font-family: "Bangers", cursive;
  background: url("../images/stars.png") center center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .centerContainer {
    display: flex;
    flex-direction: column;
  }
  h1 {
    // background-image: linear-gradient(
    //   to left,
    //   #1e8c83,
    //   #25a584,
    //   #62bd6a,
    //   #cede73,
    //   #39b572,
    //   #187bad,
    //   #136ba5
    // );
    color: #1e8c83;
    // -webkit-background-clip: text;
    text-align: center;
    font-size: 180px;
  }
  .titleBackground {
    background-position: center center;
    padding: 40px;
    display: flex;
    justify-content: center;
    background: url("../images/bball-flames.png") no-repeat;
    background-size: contain;
  }
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h2 {
    color: yellow;
    margin: 0 10px;
  }
  img {
    width: 50px;
    height: 50px;
  }
}
